main {
  height: 100vh;
  width: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding-top: 10px;
  color: #a6a6a6;
  font-size: 80px;
  letter-spacing: 13px;
  animation: lighting 1s linear 3;
  animation-fill-mode: forwards;
}
@keyframes lighting {
  0% {
    color: #363636;
    text-shadow: none;
  }

  25% {
    color: #484848;
    text-shadow: none;
  }

  45% {
    color: #ffffff;
    text-shadow: 0 0 7px #ffffff, 0 0 50px #ffffff;
  }
  65% {
    color: #a6a6a6;
    text-shadow: none;
  }
  75% {
    color: #a6a6a6;
    text-shadow: none;
  }
  80% {
    color: #ffffff;
    text-shadow: 0 0 7px #ffffff, 0 0 50px #ffffff;
  }
  100% {
    color: #363636;
    text-shadow: none;
  }
}
